<ion-view title="Collab Items" id="page9">
    <ion-nav-buttons side="primary">
      <a class="button button-icon icon ion-plus-round btn-clear" ng-click="openModal()"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
         <ion-list id="collaboration-list8">
             <ion-item class="item-thumbnail-left" id="collaboration-list-item28"  ui-sref="tabsController.collabView">
                <img src="img/max.png">
                <h2>Item</h2>
                <p style="white-space:normal;">asdfasdfasdfasdfasdfasdfasdasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
            </ion-item>
             <ion-item class="item-thumbnail-left" id="collaboration-list-item28"  ui-sref="tabsController.collabView">
                <img src="img/max.png">
                <h2>Item</h2>
                <p style="white-space:normal;">asdfasdfasdfasdfasdfasdfasdasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>