<ion-view title="Collab View" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="collabView-button-bar1" class="button-bar"></div>
        <h4 id="collabView-heading3" style="color:#000000;font-weight:300;">Head x Toes</h4>
        <div>
            <img src="img/qaYexNRhRUeNSlEhJCH3_13918499_649670328519094_211304774_o.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="collabView-list12">
            <ion-item class="item-avatar" id="collabView-list-item25">
                <img src="img/xCJo49gQPSGVhFD66Uyw_14051555_10154020001663090_4991434035055011791_n.jpg">
                <h2>Joyce Pring</h2>
                <p style="white-space:normal;">I like this idea, it's like super cool as you know naman what's in my head naman diba?</p>
            </ion-item>
            <ion-item class="item-avatar" id="collabView-list-item26">
                <img src="img/69L8z6nVRlSO0SStPgSW_14100509_10154028733903090_398476474469218650_n.jpg">
                <h2>Liza Soberano</h2>
                <p style="white-space:normal;">I don't know what's going on :3</p>
            </ion-item>
            <label class="item item-input" id="collabView-input6">
                <input type="text" placeholder="Say something...">
            </label>
        </ion-list>
    </ion-content>
</ion-view>