<ion-view title="Collab Items" id="page9">
    <ion-nav-buttons side="primary">
      <a class="button button-icon icon ion-plus-round btn-clear" ng-click="openModal()"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
         <ion-list id="collaboration-list8">
          <div class="row">
              <div class="col col-75"><h3 style="color:black;font-weight:300;" ng-bind="collabName">---</h3></div>
              <div class="col col-25"><a class="button button-icon icon ion-edit btn-clear balanced" ng-click="showPopup()"></a></div>
          </div>
             <ion-item class="item-icon-left" id="collaboration-list-item28"  ui-sref="tabsController.collabView" ng-repeat="post in posts">
                <i class="icon ion-music-note" ng-click="showPopup(123)"></i>    
                <h2 ng-bind="post.member.str_first_name + ' ' + post.member.str_last_name"></h2>       
                <p style="white-space:normal;" ng-bind="post.str_post_message"></p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>