<ion-view title="Collaboration" id="page3">
    <ion-nav-buttons side="primary">
      <a class="button button-icon icon ion-search btn-clear" ng-click="openModal()"></a>
    </ion-nav-buttons>
    
    <ion-content padding="true" class="has-header">

        
        <h5 id="collaboration-heading6" style="color:#00796B;font-weight:300;">Currently Collaborated with...</h5>
        <ion-list id="collaboration-list8">
            <ion-item class="item-avatar" id="collaboration-list-item20" ui-sref="tabsController.collabItems" ng-repeat="collab in collabs">
                <img src="img/K5LgMQBtSqeM37Ji9bjA_14100509_10154028733903090_398476474469218650_n.jpg">
                <h2 ng-bind="collab.str_collab_name"></h2>
                <p>2 days ago</p>
            </ion-item>
        </ion-list>

   
        <h5 id="collaboration-heading7" style="color:#929292;font-weight:300;">Finished collaborations</h5>
        <ion-list id="collaboration-list13">
            <ion-item class="item-avatar" id="collaboration-list-item27" ui-sref="tabsController.collabItems">
                <img src="img/eJBH8alYRDWW3iiSVYGt_13901900_649670325185761_1747214589_o.jpg">
                <h2>John Wick</h2>
                <p>4 days ago</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<style type="text/css">
    ::-webkit-input-placeholder {
       color: white !important;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white !important;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white !important;  
    }

    :-ms-input-placeholder {  
       color: white !important;  
    }
</style>