<ion-view title="My Groups" id="page7">
	<ion-nav-buttons side="primary">
      <a class="button button-icon icon ion-plus btn-clear" ng-click="openModal2()"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

    	<ion-list id="collabView-list12">
    	    <ion-item class="item-avatar" id="collabView-list-item25">
    	        <img src="img/xCJo49gQPSGVhFD66Uyw_14051555_10154020001663090_4991434035055011791_n.jpg">
    	        <h2>Group A</h2>
    	        <p style="white-space:normal;">I like this idea, it's like super cool as you know naman what's in my head naman diba?</p>
    	    </ion-item>
    	</ion-list>
    </ion-content>
</ion-view>