<ion-view title="Home" id="page2">
    <ion-nav-buttons side="primary">
        <p style="margin-top: 10px;" ng-bind="location">---</p>
      <a class="button button-icon icon ion-location btn-clear" ng-click="openModal()"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header" overflow-scroll="true">
        <label class="item item-input" style="width: 100%;">
                <i class="icon ion-search placeholder-icon balanced"></i>
                <input type="search" placeholder="Search for interests, hobbies, and skills">
        </label>
        <div class="list card" id="home-card22" style="margin-top: 5%;">
            <ion-item class="item-avatar item-icon-right balanced" id="home-list-item12">
                <img src="img/YcCtwOh5TW6FTWBtuoza_14051555_10154020001663090_4991434035055011791_n.jpg">
                <h2>Joyce Pring</h2>
                <p>with Han Ainan</p>
                <i class="icon ion-fork-repo" ng-click="showPopup(123)"></i> 
            </ion-item>
            <div class=" item item-image">
                <img src="img/jBEB56O3SyCRmAU05TIl_5th.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="home-list-item-container6">
                <div id="home-markdown8" style="color:#000000;">
                    <p style="margin-top:0px; font-weight: bold; color: #387ef5;" ng-show="!hasComment" ng-click="hasComment=true">1 comment</p>
                    <p style="margin-top:0px; font-weight: bold; color: #e42112" ng-show="hasComment" ng-click="hasComment=false">Hide comment</p>
                </div>
            </div>
            <ion-item class="item-avatar-left item-icon-right balanced" id="home-list-item13" ng-show="hasComment">
                 <img src="img/YcCtwOh5TW6FTWBtuoza_14051555_10154020001663090_4991434035055011791_n.jpg">
                <p>Beautiful work!</p>
            </ion-item>
            <ion-item class="item-avatar-left item-icon-right balanced" id="home-list-item13">
                 <img src="img/YcCtwOh5TW6FTWBtuoza_14051555_10154020001663090_4991434035055011791_n.jpg">
                <label class="item item-input">
                    <input type="text" placeholder="Leave a comment">
                </label>
                <i class="icon ion-paper-airplane"></i>
            </ion-item>
        </div>

        <div class="list card" id="home-card22" style="margin-top: 5%;">
            <ion-item class="item-avatar item-icon-right balanced" id="home-list-item12">
                <img src="img/YcCtwOh5TW6FTWBtuoza_14051555_10154020001663090_4991434035055011791_n.jpg">
                <h2>Joyce Pring</h2>
                <p>with Han Ainan</p>
                <i class="icon ion-fork-repo" ng-click="showPopup(123)"></i> 
            </ion-item>
            <div class=" item item-image">
                <img src="img/jBEB56O3SyCRmAU05TIl_5th.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="home-list-item-container6">
                <div id="home-markdown8" style="color:#000000;">
                    <p style="margin-top:0px;">Stellar! :)</p>
                </div>
            </div>
            <ion-item class="item-avatar-left item-icon-right balanced" id="home-list-item13">
                 <img src="img/YcCtwOh5TW6FTWBtuoza_14051555_10154020001663090_4991434035055011791_n.jpg">
                <label class="item item-input">
                    <input type="text" placeholder="Leave a comment">
                </label>
                <i class="icon ion-paper-airplane"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
    ::-webkit-input-placeholder {
       color: black !important;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white !important;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white !important;  
    }

    :-ms-input-placeholder {  
       color: white !important;  
    }
</style>