<ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Enter your location</h1>
    </ion-header-bar>
    <ion-content>
    	<div class="list">
    	  <label class="item item-input item-select">
    	    <div class="input-label">
    	      location
    	    </div>
    	    <select>
    	      <option>Blue</option>
    	      <option selected>Green</option>
    	      <option>Red</option>
    	    </select>
    	  </label>
    	</div>
      Hello!
      <button class="button button-block button-assertive" ng-click="closeModal()">Cancel</button>
    </ion-content>
  </ion-modal-view>