<ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Add Item</h1>
    </ion-header-bar>

     
    <ion-content>
      <img src="">
      <button class="button button-balanced" ng-click="upload()">Upload file</button>
      <input type="file" id="files" />
      <img id="image" />
      
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Item Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Description">
        </label>
      </div>
      <button class="button button-block button-assertive" ng-click="closeModal()">Cancel</button>
    </ion-content>
  </ion-modal-view>

 