<ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Add Collaboration</h1>
    </ion-header-bar>

     
    <ion-content>
    <form>
        
    <h5 id="collaboration-heading6" style="color:#00796B;font-weight:300; margin-left: 10px;">File Upload</h5>
      <img src="">
    <cropme
           width="250"
           height="250"
           ratio="1"
           icon-class=""
           type="png"
           destination-width="300"
           id="cropme1"
           ok-label="Ok"
           
           cancel-label="Cancel"

           style="margin: 10%;">
       </cropme>
      

      <div class="list">
        <label class="item item-input" id="signup-input3">
            <span class="input-label">Collaboration Name</span>
            <input type="text" placeholder="" required="required" ng-model="userForm.collabName">
        </label>
        <label class="item item-input" id="signup-input3">
            <span class="input-label">Description</span>
            <input type="text" placeholder="" required="required" ng-model="userForm.desc">
        </label>
      </div>
      <button class="button button-block button-balanced" ng-click="" type="submit">Add</button>
       </form>
      <button class="button button-outline button-block button-assertive" ng-click="closeModal()">Cancel</button>
    </ion-content>
  </ion-modal-view>

