<ion-view title="Requests" id="page4">
    <ion-content padding="true" class="has-header" ng-repeat="request in requests">
        <ion-list id="requests-list11">
            <ion-item class="item-avatar" id="requests-list-item24">
                <img src="img/MyzGGVCSRlew2Kjymvkw_WIN_20160822_12_05_49_Pro.jpg">
                <h2 ng-bind="request.sender.str_first_name + ' ' + request.sender.str_middle_name + ' ' + request.sender.str_last_name"></h2>
                <p style="white-space:normal;" ng-bind="request.str_collab_request_message">---</p>
            </ion-item>
        </ion-list>
        <div class="row">
            <button id="requests-button11" class="button button-assertive button-outline button-block col col-50"  style="margin-right: 5px;">Decline</button>
            <button id="requests-button10" class="button button-positive  button-block col col-50">Accept</button>
        </div>
    </ion-content>
</ion-view>