<ion-view title="Signup" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list" ng-submit="signUpOnSubmit()">
            <ion-list id="signup-list4">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="" required="required" ng-model="userForm.firstName">
                </label>
                <label class="item item-input" id="signup-input7">
                    <span class="input-label">Middle Name</span>
                    <input type="text" placeholder="" required="required" ng-model="userForm.middleName">
                </label>
                <label class="item item-input" id="signup-input8">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="" required="required" ng-model="userForm.lastName">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" required="required" ng-model="userForm.email">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" required="required" ng-model="userForm.password">
                </label>
            </ion-list>
            <button id="signup-button3" class="button button-balanced  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>